*, *::before, *::after {
    margin: 0;
    padding: 0;
}
body {
    background: hsl(0deg 0% 10%);
    color: hsl(0deg 0% 90%);
}
h1 {
    text-align: center;
}
.container {
    --gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 1rem;
}
.calendar-card {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: .5rem;
    border: 1px solid hsl(0deg 0% 100% / .3);
    margin-block: var(--gap);
}
.sect {
    display: flex;
    gap: var(--gap);
}
.date-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap)
}
.date-container div {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

/*********************************************************************
                            SCROLL BAR STYLE       
********************************************************************/
/* Chrome / Safari */
::-webkit-scrollbar {
    display: block;
    width: 0.45rem;
  }
  
  ::-webkit-scrollbar-track {
    background: hsl(0deg 0% 10%);
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 100vh;
    background: hsl(0deg 0% 70%);
  }
  
  ::-webkit-scrollbar-corner {
    background: hsl(0deg 0% 10%);
  }
  